@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@100&family=Noto+Sans+JP:wght@100&display=swap'); 
.omotac
{
    width: 90%;
    min-height: 100vh; 
    max-width: 1550px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255); 
}

main {
     /*test-vizuelizacija*/
     background-color: white;
}

/*Stranica test.html*/ 

#heder_t
{
    background-color: rgb(3, 42, 102);
}

.main_t_a 
{
    min-height: 500px; 
    background-color: rgb(255, 255, 255); 
}

.lista_a
{
    list-style: none;
}

.lista_a li 
{
    color: #0072bc; 
    padding: 1.4em; 
    font-weight: bolder; 
    font-size: 120%; 

}

.lista_a_a li
{
    list-style: none; 
    font-size: 100%; 
    font-weight: lighter; 
}

/*Stranica test.html*/ 

#heder_t
{
    background-color: rgb(143, 156, 175);
}

.main_t_a 
{
    min-height: 500px; 
    background-color: rgb(178, 201, 223); 
}

.grid-container 
{
    display: grid; 
    /* grid-template-columns: repeat(3, 20em); */
    grid-auto-rows: minmax(23em, auto); 
    color: #0072bc; 
    font-family: Consolas; 
    background-color: white; 
    grid-gap: 1em; 
    justify-content: center; 
    justify-items: center; 
    padding: 2em; 
    /*Prilagodljivi dizajn :O */
    grid-template-columns: repeat( auto-fit, minmax(23em, 1fr)); 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* */
}

.link_gal
{
    color: white; 
    background-color: #0072bc; 
    padding: 0.3em; 
    border-radius: 0px; 
    animation-name: link_gal; 
    animation-duration: 1.2s; 
    animation-iteration-count: infinite; 
}

#git_a 
{
    color: white; 
    background-color: #333333; 
    display: inline; 
    padding: 0.3em; 
    border-style: none; 
    border-radius: 0.4em; 
    transition-duration: 1s; 
    transition-timing-function: ease;
} 

#git_a:hover
{
    color: #333333; 
    background-color: whitesmoke; 
    border: 2px solid #333333; 
}


#yt_a 
{
    color: white; 
    background-color: tomato; 
    display: inline; 
    padding: 0.3em; 
    border-style: none; 
    border-radius: 0.4em; 
    transition-duration: 1s; 
    transition-timing-function: ease;
} 

#yt_a:hover
{
    color: tomato; 
    background-color: whitesmoke; 
    border: 2px solid tomato; 
}


@keyframes link_gal
{
    0%
    {
        border-radius: 10px;  
        color: white; 
        background-color: #0072bc; 
    }

    100%
    {
        color: #0072bc; 
        background-color: white; 
        border-radius: 10px; 
    }
}
