<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Master | Bežične mreže</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'telekomunikacije/css/zaglavlje.css' %}">
    <link rel="stylesheet" href="{% static 'telekomunikacije/css/bezicne.css' %}">
    <link rel="stylesheet" href="{% static 'telekomunikacije/css/zacelje.css' %}">
    <link rel="shortcut icon" href="{% static 'telekomunikacije/ico/Coa Pro 2.3.2 Лого 2021-круг.png' %}">

</head>
<body onload="sakrijContainerBez()">
    <div class="zaglavlje"> 
        <p id="sf_t">Aleksandar Luković | Bežične mreže </p>
        
        <div class="navbar">

            <div class="navbar_item"><a href="{%url 'indexRoot' %}">Root</a></div> 
            <div class="navbar_item"><a href="{% url 'osnovneTS' %}">Osnovne studije</a></div> 
            <div class="navbar_item"><a href="{% url 'masterTS' %}">Master studije</a></div> 
            <div class="navbar_item"><a href="{% url 'masterTS' %}">Završeni radovi na masteru</a></div> 
            <div class="navbar_item"><a href="{% url 'profilProfil' %}">O meni</a></div> 
            <div class="navbar_item"><a href="{% url 'projektiRoot' %}">Veb projekti</a></div> 
            <div class="navbar_item"><a href="{% url 'kontaktProfil' %}">Kontakt</a></div> 
 
         </div>

    </div> 

    <div class="bmMeni">
        <a onclick="prikaziContainerBez()"><li>Prikaži prezentaciju rada</li></a>
        <a onclick="sakrijContainerBez()"><li>Sakrij prezentaciju rada</li></a>
        <a href="{% url 'masterTS' %}"><li>Nazad na ostale radove</li></a>
    </div>

    <div class="teloBM">

        <div class="containerBez">

            <div class="itemBez">

                <img src="{% static 'telekomunikacije/img/bezicneMreze/1.png' %}">

            </div>

            <div class="itemBez">

                <img src="{% static 'telekomunikacije/img/bezicneMreze/2.png' %}">
                
            </div>

            <div class="itemBez">

                <img src="{% static 'telekomunikacije/img/bezicneMreze/3.png' %}">

            </div>

            <div class="itemBez">

                <img src="{% static 'telekomunikacije/img/bezicneMreze/4.png' %}">

            </div>

            <div class="itemBez">

                <img src="{% static 'telekomunikacije/img/bezicneMreze/5.png' %}">

            </div>

            <div class="itemBez">

                <img src="{% static 'telekomunikacije/img/bezicneMreze/6.png' %}">

            </div>

            <div class="itemBez">

                <img src="{% static 'telekomunikacije/img/bezicneMreze/7.png' %}">

            </div>

            <div class="itemBez">

                <img src="{% static 'telekomunikacije/img/bezicneMreze/8.png' %}">

            </div>

            <div class="itemBez">

                <img src="{% static 'telekomunikacije/img/bezicneMreze/9.png' %}">

            </div>

            <div class="itemBez">

                <img src="{% static 'telekomunikacije/img/bezicneMreze/10.png' %}">

            </div>

            <div class="itemBez">

                <img src="{% static 'telekomunikacije/img/bezicneMreze/11.png' %}">

            </div>

            <div class="itemBez">

                <img src="{% static 'telekomunikacije/img/bezicneMreze/12.png' %}">

            </div>

            <div class="itemBez">

                <img src="{% static 'telekomunikacije/img/bezicneMreze/13.png' %}">

            </div>

            <div class="itemBez">

                <img src="{% static 'telekomunikacije/img/bezicneMreze/14.png' %}">

            </div>

            <div class="itemBez">

                <img src="{% static 'telekomunikacije/img/bezicneMreze/15.png' %}">

            </div>

            <div class="itemBez">

                <img src="{% static 'telekomunikacije/img/bezicneMreze/16.png' %}">

            </div>

            <div class="itemBez">

                <img src="{% static 'telekomunikacije/img/bezicneMreze/17.png' %}">

            </div>

            <div class="itemBez">

                <img src="{% static 'telekomunikacije/img/bezicneMreze/18.png' %}">

            </div>

            <div class="itemBez">

                <img src="{% static 'telekomunikacije/img/bezicneMreze/19.png' %}">

            </div>

        </div>

    </div>

    <div class="zacelje"> 
        
        <div class="autorskaPrava">

            © 2021 Aleksandar Luković | Sva prava zadržana.
            <br/>
            Kodovano sa srcem. 

        </div>

        <div class="zacelje_c">


            <div class="zacelje_i">
                <a href="https://www.linkedin.com/in/aleksandar-lukovic" target="_blank"><img src="{% static 'telekomunikacije/ico/linkedin.svg' %}" title="Aleksandar Luković | LinkedIn"></img> </a>
            </div>

            <div class="zacelje_i">
                <a href="https://github.com/CoaPro" target="_blank"><img src="{% static 'telekomunikacije/ico/github.svg' %}" title="Aleksandar Luković | GitHub"></img> </a>
            </div>

            <div class="zacelje_i">
                <a href="https://web.facebook.com/ALh4x0r997/" target="_blank"><img src="{% static 'telekomunikacije/ico/facebook.svg' %}" title="Aleksandar Luković | Facebook"></img> </a> 
            </div>

            <div class="zacelje_i">
                <a href="https://www.instagram.com/coa.pro/" target="_blank"><img src="{% static 'telekomunikacije/ico/instagram.svg' %}" title="Aleksandar Luković | Instagram"></img> </a>
            </div>

            <div class="zacelje_i">
                <a href="https://www.youtube.com/CoaPro/" target="_blank"><img src="{% static 'telekomunikacije/ico/youtube.svg' %}" title="Aleksandar Luković | YouTube"></img> </a>
            </div>

        </div>
    </div> 
    
    <script src="{% static 'telekomunikacije/js/bm.js' %}"></script>

</body>
</html>