<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saobraćajni fakultet | Telekomunikacije </title> 

    {% load static %}
    <link rel="stylesheet" href="{% static 'telekomunikacije/css/zaglavlje.css' %}">
    <link rel="stylesheet" href="{% static 'telekomunikacije/css/pocetna.css' %}">
    <link rel="stylesheet" href="{% static 'telekomunikacije/css/zacelje.css' %}">
    <link rel="shortcut icon" href="{% static 'telekomunikacije/ico/Coa Pro 2.3.2 Лого 2021-круг.png' %}">

</head>
<body>
    
    <div class="zaglavlje"> 
        <p id="sf_t">Aleksandar Luković | Telekomunikacije </p>
        
        <div class="navbar">
            
            <div class="navbar_item"><a href="{%url 'indexRoot' %}">Root</a></div> 
            <div class="navbar_item"><a href="{% url 'osnovneTS' %}">Osnovne studije</a></div> 
            <div class="navbar_item"><a href="{% url 'masterTS' %}">Master studije</a></div> 
            <div class="navbar_item"><a href="{% url 'masterTS' %}">Završeni radovi na masteru</a></div> 
            <div class="navbar_item"><a href="{% url 'profilProfil' %}">O meni</a></div> 
            <div class="navbar_item"><a href="{% url 'projektiRoot' %}">Veb projekti</a></div> 
            <div class="navbar_item"><a href="{% url 'kontaktProfil' %}">Kontakt</a></div> 

        </div>

    </div> 

    <div class="telo"> 

        <div class="studije">


            <div class="studije_">

                <div class="studije_i">
                <img src="{% static 'telekomunikacije/img/osnovne_studije.png' %}" title="Osnovne akademske studije">
                <p><a href="{% url 'osnovneTS' %}">Osnovne akademske studije</a></p>
                </div>

            </div>



            <div class="studije_">

                <div class="studije_i">
                <img src="{% static 'telekomunikacije/img/master_studije.png' %}" title="Master akademske studije">
                <p><a href="{% url 'masterTS' %}">Master akademske studije</a></p>
                </div>

            </div>
            
        </div> 

        <div class="telekomunikacijeMeni">

            <a href="{% url 'indexRoot' %}"><li>Root direktorijum</li></a>
            <a href="{% url 'fakultetProfil' %}"><li>Informacije o fakultetu</li></a>
            
        </div>

    </div>

    <div class="zacelje"> 
        
        <div class="autorskaPrava">

            © 2021 Aleksandar Luković | Sva prava zadržana.
            <br/>
            Kodovano sa srcem. 
            
        </div>

        <div class="zacelje_c">


            <div class="zacelje_i">
                <a href="https://www.linkedin.com/in/aleksandar-lukovic" target="_blank"><img src="{% static 'telekomunikacije/ico/linkedin.svg' %}" title="Aleksandar Luković | LinkedIn"></img> </a>
            </div>

            <div class="zacelje_i">
                <a href="https://github.com/CoaPro" target="_blank"><img src="{% static 'telekomunikacije/ico/github.svg' %}" title="Aleksandar Luković | GitHub"></img> </a>
            </div>

            <div class="zacelje_i">
                <a href="https://web.facebook.com/ALh4x0r997/" target="_blank"><img src="{% static 'telekomunikacije/ico/facebook.svg' %}" title="Aleksandar Luković | Facebook"></img> </a> 
            </div>

            <div class="zacelje_i">
                <a href="https://www.instagram.com/coa.pro/" target="_blank"><img src="{% static 'telekomunikacije/ico/instagram.svg' %}" title="Aleksandar Luković | Instagram"></img> </a>
            </div>

            <div class="zacelje_i">
                <a href="https://www.youtube.com/CoaPro/" target="_blank"><img src="{% static 'telekomunikacije/ico/youtube.svg' %}" title="Aleksandar Luković | YouTube"></img> </a>
            </div>

        </div>
    </div> 

</body>
</html>