<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aleksandar Luković | TK sistemi u saobraćaju </title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'telekomunikacije/css/zaglavlje.css' %}">
    <link rel="stylesheet" href="{% static 'telekomunikacije/css/tk.css' %}">
    <link rel="stylesheet" href="{% static 'telekomunikacije/css/zacelje.css' %}">
    <link rel="shortcut icon" href="{% static 'telekomunikacije/ico/Coa Pro 2.3.2 Лого 2021-круг.png' %}">


</head>
<body onload="sakrijRadTK()">

    <div class="zaglavlje"> 
        <p id="sf_t">Aleksandar Luković | Telekomunikacioni sistemi u saobraćaju </p>
        
        <div class="navbar">

            <div class="navbar_item"><a href="{% url 'telekomunikacije' %}" target="_blank">Početna</a></div> 
            <div class="navbar_item"><a href="{% url 'osnovneTS' %}" target="_blank">Osnovne studije</a></div> 
            <div class="navbar_item"><a href="{% url 'masterTS' %}" target="_blank">Master studije</a></div> 
            <div class="navbar_item"><a href="{% url 'masterTS' %}" target="_blank">Predmeti na masteru</a></div> 
            <div class="navbar_item"><a href="{% url 'masterTS' %}" target="_blank">Završeni radovi na masteru</a></div> 
            <div class="navbar_item"><a href="{% url 'profilProfil' %}" target="_blank">O meni</a></div> 
            <div class="navbar_item"><a href="{%url 'indexRoot' %}">Root</a></div> 
            <div class="navbar_item"><a href="{% url 'kontaktProfil' %}" target="_blank">Kontakt</a></div> 

        </div>

    </div> 

   <div class="tkMeni">
       <a onclick="prikaziRadTK()"><li>Prikaži prezentaciju rada</li></a>
       <a onclick="sakrijRadTK()"><li>Sakrij prezentaciju rada</li></a>
       <a href="{% url 'masterTS' %}"><li>Nazad na master studije</li></a>
   </div>

    <div class="telo_tk">

        <div class="radTK">

            <div class="radTKitem">
                <img src="{% static 'telekomunikacije/img/tkSistemiUsaobracaju/1.png' %}">
            </div>

            <div class="radTKitem">
                <img src="{% static 'telekomunikacijeimg/tkSistemiUsaobracaju/1.png' %}">
            </div>

            <div class="radTKitem">
                <img src="{% static 'img/tkSistemiUsaobracaju/3.png' %}">
            </div>

            <div class="radTKitem">
                <img src="img/tkSistemiUsaobracaju/4.png">
            </div>

            <div class="radTKitem">
                <img src="img/tkSistemiUsaobracaju/5.png">
            </div>

            <div class="radTKitem">
                <img src="img/tkSistemiUsaobracaju/6.png">
            </div>

            <div class="radTKitem">
                <img src="img/tkSistemiUsaobracaju/7.png">
            </div>

            <div class="radTKitem">
                <img src="img/tkSistemiUsaobracaju/8.png">
            </div>

            <div class="radTKitem">
                <img src="img/tkSistemiUsaobracaju/9.png">
            </div>

            <div class="radTKitem">
                <img src="img/tkSistemiUsaobracaju/10.png">
            </div>

            <div class="radTKitem">
                <img src="img/tkSistemiUsaobracaju/11.png">
            </div>

            <div class="radTKitem">
                <img src="img/tkSistemiUsaobracaju/12.png">
            </div>

            <div class="radTKitem">
                <img src="img/tkSistemiUsaobracaju/13.png">
            </div>

            <div class="radTKitem">
                <img src="img/tkSistemiUsaobracaju/14.png">
            </div>

            <div class="radTKitem">
                <img src="img/tkSistemiUsaobracaju/15.png">
            </div>

            <div class="radTKitem">
                <img src="img/tkSistemiUsaobracaju/16.png">
            </div>

            <div class="radTKitem">
                <img src="img/tkSistemiUsaobracaju/17.png">
            </div>

            <div class="radTKitem">
                <img src="img/tkSistemiUsaobracaju/18.png">
            </div>

            <div class="radTKitem">
                <img src="img/tkSistemiUsaobracaju/19.png">
            </div>

            <div class="radTKitem">
                <img src="img/tkSistemiUsaobracaju/20.png">
            </div>

            <div class="radTKitem">
                <img src="img/tkSistemiUsaobracaju/21.png">
            </div>

            <div class="radTKitem">
                <img src="img/tkSistemiUsaobracaju/22.png">
            </div>

            <div class="radTKitem">
                <img src="img/tkSistemiUsaobracaju/23.png">
            </div>

            <div class="radTKitem">
                <img src="img/tkSistemiUsaobracaju/24.png">
            </div>

            <div class="radTKitem">
                <img src="img/tkSistemiUsaobracaju/25.png">
            </div>

            <div class="radTKitem">
                <img src="img/tkSistemiUsaobracaju/26.png">
            </div>

            <div class="radTKitem">
                <img src="img/tkSistemiUsaobracaju/27.png">
            </div>

            <div class="radTKitem">
                <img src="img/tkSistemiUsaobracaju/28.png">
            </div>

            <div class="radTKitem">
                <img src="img/tkSistemiUsaobracaju/29.png">
            </div>

        </div>

    </div>
<!--
    <div class="zacelje"> 
        
        <div class="autorskaPrava">

            © 2021 Aleksandar Luković | Sva prava zadržana.
            <br/>
            Kodovano sa srcem. 
            
        </div>

        <div class="zacelje_c">


            <div class="zacelje_i">
                <a href="https://www.linkedin.com/in/aleksandar-lukovic" target="_blank"><img src="{% static 'telekomunikacije/ico/linkedin.svg' %}" title="Aleksandar Luković | LinkedIn"></img> </a>
            </div>

            <div class="zacelje_i">
                <a href="https://github.com/CoaPro" target="_blank"><img src="{% static 'telekomunikacije/ico/github.svg' %}" title="Aleksandar Luković | GitHub"></img> </a>
            </div>

            <div class="zacelje_i">
                <a href="https://web.facebook.com/ALh4x0r997/" target="_blank"><img src="{% static 'telekomunikacije/ico/facebook.svg' %}" title="Aleksandar Luković | Facebook"></img> </a> 
            </div>

            <div class="zacelje_i">
                <a href="https://www.instagram.com/coa.pro/" target="_blank"><img src="{% static 'telekomunikacije/ico/instagram.svg' %}" title="Aleksandar Luković | Instagram"></img> </a>
            </div>

            <div class="zacelje_i">
                <a href="https://www.youtube.com/CoaPro/" target="_blank"><img src="{% static 'telekomunikacije/ico/youtube.svg' %}" title="Aleksandar Luković | YouTube"></img> </a>
            </div>

        </div>
    </div> 
-->
    <script src="{% static 'telekomunikacije/js/tk.js' %}"></script>
    
</body>
</html>