<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aleksandar Luković">
    <title>Aleksandar Luković | ENG</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'profil/css/stil-zaglavlje.css'%}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'profil/css/stil-pocetna.css'%}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'profil/css/stil-futer.css'%}"> 
    <link rel="shortcut icon" type="text/css" href="{% static 'profil/img/Slika_CV_krug.png'%}"> 
</head>
<body>


    <ul class="jezik"> 
        <li><a href="{% url 'srProfil' %}">SRB</a></li> 
        <li><a href="{% url 'enProfile' %}">ENG</a></li> 
    </ul>     

    <header>
        <img class="logo" src="{% static 'profil/img/Slika_CV_krug.png'%}" alt="logo" title="Aleksandar Luković" >

        <nav>
            <ul class="nav_bar">
                <li><a href="{% url 'indexRoot' %}">Root</a></li>
                <li><a href="{% url 'profileProfile' %}">Profile</a></li>
                <li><a href="{% url 'facultyProfile' %}">Faculty</a></li>
                <li><a href="{% url 'onlProfile' %}">Online courses and certificates</a></li>
                <li><a href="{% url 'indexRoot' %}">Root</a></li>
                <li><a href="{% url 'contactProfile' %}">Contact</a></li>
                <li><a class="btn" href="javascript:history.back()"><button id="nazad">Back</button></a></li>
            </ul>
        </nav>

    </header>
</div> 

    <div class="omotac">

        <main>

            <div class="grid-container">

                <div class="pocetna_a" style="background-image: url('{% static 'profil/img/s2min.jpg'%}')">
    
                </div>

                <div class="sadrzaj_a">

                    <h1>Aleksandar Luković</h1> 
                    <h4>Online CV i portfolio</h4>

                    <div class="tasteri">
                        <a href="{% url 'enProfile' %}" title="Profil & CV" ><button id="btn_a">Profile</button></a>
                        <a href="{% url 'indexRoot' %}" title="Back to root/ directory" ><button id="btn_b">Root</button></a> 
                    </div>

                    <div class="rad">
                        Last modified: 
                        <br> 
                        <br>
                        17.4.2021.
                    </div> 

                </div> 

            </div>

        </main>

    </div>



<footer id="futer_t"> 

    <div class="futer_t_ikonice">
        <a href="https://www.linkedin.com/in/aleksandar-lukovic" target="_blank"><img src="{% static 'profil/ico/linkedin.svg'%}" title="LinkedIn"></img> </a>
        <a href="https://github.com/CoaPro" target="_blank"><img src="{% static 'profil/ico/github.svg'%}" title="GitHub"></img> </a>
        <a href="https://web.facebook.com/ALh4x0r997/" target="_blank"><img src="{% static 'profil/ico/facebook.svg'%}" title="Facebook"></img> </a> 
        <a href="https://www.instagram.com/coa.pro/" target="_blank"><img src="{% static 'profil/ico/instagram.svg'%}" title="Instagram"></img> </a>
        <!--  <a href="https://www.youtube.com/CoaPro/" target="_blank"><img src="{% static 'profil/ico/youtube.svg'%}" title="Aleksandar Luković | YouTube"></img> </a> --> 
    </div> 

    <div class="autorska_prava">
        © 2021 Aleksandar Luković | All rights reserved 
    </div>

</footer>

</body> 

</html>