<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aleksandar Luković">
    <title>Aleksandar Luković | Faculty  </title> 

    {% load static %}
    <link rel="stylesheet" href="{% static 'profil/css/stil-zaglavlje.css'%}"> 
    <link rel="stylesheet" href="{% static 'profil/css/stil-test2.css'%}"> 
    <link rel="stylesheet" href="{% static 'profil/css/stil-futer.css'%}"> 
    <link rel="shorcut icon" href="{% static 'profil/img/Slika_CV_krug.png'%}"> 

</head>
<body>

<div class="zaglavlje"> 

    <ul class="jezik"> 
        <li><a href="{% url 'fakultetProfil' %}">SRB</a></li> 
        <li><a href="{% url 'facultyProfile' %}">ENG</a></li> 
    </ul>  
              
    <header>
        <img class="logo" src="{% static 'profil/img/Slika_CV_krug.png'%}" alt="logo" title="Aleksandar Luković" >

        <nav>
            <ul class="nav_bar">
                <li><a href="{% url 'enProfile' %}">A. Luković</a></li>
                <li><a href="{% url 'profileProfile' %}">Profile</a></li>
                <li><a href="{% url 'facultyProfile' %}">Faculty</a></li>
                <li><a href="{% url 'onlProfile' %}">Online courses and certificates</a></li>
                <li><a href="{% url 'galeryProfile' %}">Galery</a></li>
                <li><a href="{% url 'contactProfile' %}">Contact</a></li>
            </ul>
        </nav>

        <a class="btn" href="javascript:history.back()"><button id="nazad">Back</button></a>
    </header>
    
</div>


    <div class="omotac">
    
        <main>
            
                <div class="grid-container"> 

                    <img id="ing" src="{% static 'profil/img/ing.jpg'%}"> 

                    <ul class="lista_faks">

                        <li class="lista_faks a1"><b>Faculty: </b>  

                            <ul> 
                                <li>Faculty of transport and traffic engineering | University of Belgrade </li>

                            </ul> 

                            <hr> 

                        </li>

                        <li class="lista_faks a2"> 
                            Departement:  
                            <ul> 
                                <li>Telecommunication traffic and networks</li> 
                            </ul> 

                            <hr>

                        </li> 

                        <li class="lista_faks a3"> 
                            Type of studies: 
                            <ul> 
                                <li>Master of Engineering </li> 
                            </ul> 

                            <hr>

                        </li> 

                        <li class="lista_faks a4"> 
                            Years of study:  
                            <ul> 
                                <li>2020 - present </li> 
                            </ul> 

                            <hr> 

                        </li> 

                        <li class="lista_faks a4_"> 
                            Finished papers for master's academic studies:  
                            <ul> <li>Cybersecurity in wireless networks  </li> 
                                <li>Modern cryptographic algorithms  </li> 
                                <li>Big data in traffic </li> 
                                <li>Analysis of IP traffic using Wireshark and realization of software solution for calculation of Hurst parameter using JavaScript programming language | <span id="profilNovoF">New</span></li> 
                            </ul> 

                            <hr> 

                        </li> 

                        <li class="lista_faks a4a"> 
                            Papers in progress for master's academic studies:  
                            <ul> 
                                <li>Security of Internet protocols  </li> 
                                <li>Designing an optimization application using the OPL programming language | <span id="profilNovoF">New</span></li> 
                                <li>Security of Internet protocols | <span id="profilNovoF">New</span></li> 
                            </ul> 

                            <hr> 

                        </li> 

                        <li class="lista_faks a4a"> 
                            Areas of interest within the faculty: 
                            <ul> 
                                <li>JavaScript </li> 
                                <li>Web technologies </li> 
                                <li>Web applications </li> 
                                <!-- <li>Big Data </li> -->
                                <li>Wireless networks </li> 
                                <li>Video coding </li>
                                <li>Network protocols </li> 
                                <li>Machine learning </li> 
                                <li>Video traffic </li> 
                                <li>Data science </li> 
                                <li>Artifical intelligence </li>
                                <li>Cybersecurity in wireless networks </li> 
                                <li>Multimedial applications, systems and protocols </li> 
                                
                                
                            </ul> 

                            <hr> 

                        </li> 

                        <li class="lista_faks a4b"> 
                            Idea for a master thesis:  
                            <ul> 
                                <li>> Implementing software for multimedia signals processing using JavaScript | <span id="profilNovoF">New</span> </li> 
                            </ul> 

                            <hr> 

                        </li> 

                        <li class="lista_faks a5"> 
                            Type of studies: 
                            <ul> 
                                <li>Bachelor of Engineering </li> 
                            </ul> 

                            <hr>

                        </li> 

                        <li class="lista_faks a6"> 
                            Period of study:   
                            <ul> 
                                <li>2016 - 2020. </li> 
                            </ul> 
                            
                            <hr> 

                        </li> 

                        <li class="lista_faks a7">
                        Average mark:  
                        <ul> 
                            <li>8.81</li> 
                        </ul> 

                        <hr> 

                        </li>

                        <li class="lista_faks a7a">
                            Papers and projects in undergraduate studies: 
                            <ul> 
                                <li>5G </li> 
                                <li>Big Data </li> 
                                <li>FTTx systems </li>
                                <li>ATM user interface | C++ </li>
                                <li>Feeling analysis using social multimedia </li>
                                <li>Face detection in Python programming language using OpenCV and face_recognition libraries </li> 
                                
                            </ul> 
    
                            <hr> 
    
                        </li> 


                        <li class="lista_faks a8"> 
                            Topic of the final work: 
                            <ul> 
                                <li>Improving the performance of video traffic in mobile networks </li> 
                            </ul> 

                            <hr> 

                        </li> 

                        <li class="lista_faks a9"> 
                            Grade on the final work: 
                            <ul> 
                                <li>10</li> 
                            </ul> 

                            <hr> 

                        </li> 
                          
                    </ul>

                    <img id="master" src="{% static 'profil/img/master-logo-2.jpg'%}">  
         
                </div>

        </main>

    </div>



</body>

        <footer id="futer_t">
            <div class="futer_t_ikonice">
                <a href="https://www.linkedin.com/in/aleksandar-lukovic" target="_blank"><img src="{% static 'profil/ico/linkedin.svg'%}" title="LinkedIn"></img> </a>
                <a href="https://github.com/CoaPro" target="_blank"><img src="{% static 'profil/ico/github.svg'%}" title="GitHub"></img> </a>
                <a href="https://web.facebook.com/ALh4x0r997/" target="_blank"><img src="{% static 'profil/ico/facebook.svg'%}" title="Facebook"></img> </a> 
                <a href="https://www.instagram.com/coa.pro/" target="_blank"><img src="{% static 'profil/ico/instagram.svg'%}" title="Instagram"></img> </a>
                <!--  <a href="https://www.youtube.com/CoaPro/" target="_blank"><img src="{% static 'profil/ico/youtube.svg'%}" title="Aleksandar Luković | YouTube"></img> </a> --> 
            </div>
        </footer>

</html>