<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aleksandar Luković">
    <title>Aleksandar Luković | Fakultet  </title> 

    {% load static %}
    <link rel="stylesheet" href="{% static 'profil/css/stil-zaglavlje.css'%}"> 
    <link rel="stylesheet" href="{% static 'profil/css/stil-test2.css'%}"> 
    <link rel="stylesheet" href="{% static 'profil/css/stil-futer.css'%}"> 
    <link rel="shorcut icon" href="{% static 'profil/img/Slika_CV_krug.png'%}"> 

</head>
<body>

<div class="zaglavlje"> 

    <ul class="jezik"> 
        <li><a href="{% url 'fakultetProfil' %}">SRB</a></li> 
        <li><a href="{% url 'facultyProfile' %}">ENG</a></li> 
    </ul>  
              
    <header>
        <img class="logo" src="{% static 'profil/img/Slika_CV_krug.png'%}" alt="logo" title="Aleksandar Luković" >

        <nav>
            <ul class="nav_bar">

                <li><a href="{% url 'srProfil' %}">A. Luković</a></li>
                <li><a href="{% url 'profilProfil' %}">Profil</a></li>
                <li><a href="{% url 'fakultetProfil' %}">Fakultet</a></li>
                <li><a href="{% url 'onlProfil' %}">Online kursevi i sertifikati </a></li>
                <li><a href="{% url 'galerijaProfil' %}">Galerija</a></li>
                <li><a href="{% url 'kontaktProfil' %}">Kontakt</a></li>

            </ul>
        </nav>

        <a class="btn" href="javascript:history.back()"><button id="nazad">Nazad</button></a> 
    </header>
    
</div>


    <div class="omotac">
    
        <main>
            
                <div class="grid-container"> 

                    <img id="ing" src="{% static 'profil/img/ing.jpg'%}"> 

                    <ul class="lista_faks">

                        <li class="lista_faks a1"><b>Fakultet: </b>  

                            <ul> 
                                <li>Saobraćajni fakultet</li>

                            </ul> 

                            <hr> 

                        </li>

                        <li class="lista_faks a2"> 
                            Smer: 
                            <ul> 
                                <li>Telekomunikacioni saobraćaj i mreže</li> 
                            </ul> 

                            <hr>

                        </li> 

                        <li class="lista_faks a3"> 
                            Tip studija: 
                            <ul> 
                                <li>Master akademske studije </li> 
                            </ul> 

                            <hr>

                        </li> 

                        <li class="lista_faks a4"> 
                            Godina studiranja:  
                            <ul> 
                                <li>2020 - trenutno </li> 
                            </ul> 

                            <hr> 

                        </li> 

                        <li class="lista_faks a4a"> 
                            Radovi u izradi na master akademskim studijama: 
                            <ul> 
                                <li>Sajber bezbednost u bežičnim mrežama </li> 
                                <li>Savremeni kriptografski algoritmi </li> 
                                <li>Sajber bezbednost protokola Interneta </li> 
                                <li>Big Data u saobraćaju </li> 
                                <li>Analiza mrežnog saobraćaja upotrebom softvera <i>Wireshark</i> i JavaScript-a | <span id="profilNovoF">Novo</span> </li> 
                            </ul> 

                            <hr> 

                        </li> 

                        <li class="lista_faks a4a"> 
                            Uže oblasti interesovanja u okviru fakulteta: 
                            <ul> 
                                <li>JavaScript</li>
                                <li>Veb aplikacije</li>
                             <!--  <li>Big Data </li> -->  
                                <li>Bežične mreže </li> 
                                <li>Video kodovanje </li>
                                <li>Mrežni protokoli </li> 
                                <li>Mašinsko učenje</li> 
                                <li>Video saobraćaj </li> 
                                <li>Nauka o podacima</li> 
                                <li>Veštačka inteligencija</li>
                                <li>Sajber bezbednost u bežičnim mrežama </li> 
                                <li>Multimedijalne aplikacije, sistemi i protokoli</li> 
                                
                                
                            </ul> 

                            <hr> 

                        </li> 

                        <li class="lista_faks a4b"> 
                            Okvirna tema i ideja za master rad: 
                            <ul> 
                                <li>JavaScript Veb aplikacije i principi sajber bezbednosti | <span id="profilNovo">Novo</span> </li> 
                            </ul> 

                            <hr> 

                        </li> 

                        <li class="lista_faks a5"> 
                            Tip studija: 
                            <ul> 
                                <li>Osnovne akademske studije </li> 
                            </ul> 

                            <hr>

                        </li> 

                        <li class="lista_faks a6"> 
                            Godina studiranja:  
                            <ul> 
                                <li>2016 - 2020. </li> 
                            </ul> 
                            
                            <hr> 

                        </li> 

                        <li class="lista_faks a7">
                        Prosečna ocena: 
                        <ul> 
                            <li>8,81</li> 
                        </ul> 

                        <hr> 

                        </li>

                        <li class="lista_faks a7a">
                            Radovi i projekti na osnovnim studijama:  
                            <ul> 
                                <li>5G</li> 
                                <li>Big Data</li> 
                                <li>FTTx sistemi</li>
                                <li>Bankomat korisnički interfejs | C++ </li>
                                <li>Analiza osećaja upotrebom društvenih multimedija </li>
                                <li>Detekcija lica u programskom jeziku Python pomoću biblioteka <i>OpenCV</i> i <i>face_recognition</i> </li> 
                                
                            </ul> 
    
                            <hr> 
    
                        </li> 


                        <li class="lista_faks a8"> 
                            Tema završnog rada: 
                            <ul> 
                                <li>Poboljšanje performasni video saobraćaja u mobilnim mrežama</li> 
                            </ul> 

                            <hr> 

                        </li> 

                        <li class="lista_faks a9"> 
                            Ocena na završnom radu: 
                            <ul> 
                                <li>10</li> 
                            </ul> 

                            <hr> 

                        </li> 
                          
                    </ul>

                    <img id="master" src="{% static 'profil/img/master-logo-2.jpg'%}"> 
         
                </div>

        </main>

    </div>



</body>

        <footer id="futer_t">
            <div class="futer_t_ikonice">
                <a href="https://www.linkedin.com/in/aleksandar-lukovic" target="_blank"><img src="{% static 'profil/ico/linkedin.svg'%}" title="LinkedIn"></img> </a>
                <a href="https://github.com/CoaPro" target="_blank"><img src="{% static 'profil/ico/github.svg'%}" title="GitHub"></img> </a>
                <a href="https://web.facebook.com/ALh4x0r997/" target="_blank"><img src="{% static 'profil/ico/facebook.svg'%}" title="Facebook"></img> </a> 
                <a href="https://www.instagram.com/coa.pro/" target="_blank"><img src="{% static 'profil/ico/instagram.svg'%}" title="Instagram"></img> </a>
                <!--  <a href="https://www.youtube.com/CoaPro/" target="_blank"><img src="{% static 'profil/ico/youtube.svg'%}" title="Aleksandar Luković | YouTube"></img> </a> --> 
            </div>
        </footer>

</html>