<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aleksandar Luković">
    <title>Aleksandar Luković | Adobe Photoshop  </title>

   <!-- <link rel="stylesheet" href="./css/stil-test2.css"> -->

   {% load static %}
   <link rel="stylesheet" href="{% static 'profil/css/stil-zaglavlje.css'%}"> 
   <link rel="stylesheet" href="{% static 'profil/css/stil-galerija.css'%}"> 
   <link rel="stylesheet" href="{% static 'profil/css/stil-futer.css'%}"> 
   <link rel="shortcut icon" href="{% static 'profil/img/Slika_CV_krug.png'%}"> 
   
</head>
<body>
 
    <div class="zaglavlje"> 

        <ul class="jezik"> 
            <li><a href="{% url 'galerijaProfil' %}">SRB</a></li> 
            <li><a href="{% url 'galeryProfile' %}">ENG</a></li> 
        </ul>  

        <header>
            <img class="logo" src="{% static 'profil/img/Slika_CV_krug.png'%}" alt="logo" title="Aleksandar Luković" >

            <nav>
                <ul class="nav_bar">

                    <li><a href="{% url 'enProfile' %}">Home</a></li>
                    <li><a href="{% url 'profileProfile' %}">Profile</a></li>
                    <li><a href="{% url 'facultyProfile' %}">Faculty</a></li>
                    <li><a href="{% url 'onlProfile' %}">Online courses and certificates</a></li>
                    <li><a href="{% url 'galeryProfile' %}">Galery</a></li>
                    <li><a href="{% url 'contactProfile' %}">Contact</a></li>

                </ul>
            </nav>

            <a class="btn" href="javascript:history.back()"><button id="nazad">Back </button></a>
        </header>
        
    </div> 

    <div class="omotac">
    
        <main>
            
            <div class="grid-slike">

                <div class="slike slika-0">
                    <img id="sl-0" src="{% static 'profil/galerija/Coa-Pro-26-2.gif'%}"> 
                    <h3 id="ps">Neki od Adobe Photoshop projekata </h3> 
                </div>

                <div class="slike slika-1">
                    <img id="sl-5" src="{% static 'profil/galerija/Coa Pro 3.jpg'%}"> 
                </div> 

                <div class="slike slika-2">
                    <img id="sl-5" src="{% static 'profil/galerija/Coa Pro 7-3.jpg'%}">  
                </div> 

                <div class="slike slika-3">
                    <img id="sl-3" src="{% static 'profil/galerija/Coa Pro 11.jpg'%}">  
                </div> 

                <div class="slike slika-4">
                    <img id="sl-4" src="{% static 'profil/galerija/Coa Pro 12.jpg'%}">  
                </div> 

                <div class="slike slika-4">
                    <img id="sl-4" src="{% static 'profil/galerija/Pro 1 - yt.jpg'%}"> 
                </div> 

                <div class="slike slika-5">
                    <img id="sl-5" src="{% static 'profil/galerija/Coa Pro 13-1.jpg'%}"> 
                </div> 

                <div class="slike slika-5">
                    <img id="sl-5" src="{% static 'profil/galerija/Coa Pro 18-pro-2.jpg'%}"> 
                </div> 

                <div class="slike slika-5">
                    <img id="sl-5" src="{% static 'profil/galerija/Coa Pro 23-2.jpg'%}">  
                </div> 

                <div class="slike slika-5">
                    <img id="sl-5" src="{% static 'profil/galerija/Coa Pro-n1.jpg'%}"> 
                </div> 

                <div class="slike slika-5">
                    <img id="sl-5" src="{% static 'profil/galerija/w-2-1-1-1.jpg'%}"> 
                </div> 

                <div class="slike slika-5">
                    <img id="sl-5" src="{% static 'profil/galerija/Coa Pro-n11b.jpg'%}"> 
                </div> 

                <div class="slike slika-5">
                    <img id="sl-5" src="{% static 'profil/galerija/Coa Pro 24-2.jpg'%}">  
                </div> 

                <div class="slike slika-5">
                    <img id="sl-5" src="{% static 'profil/galerija/Coa Pro 25aaa3.jpg'%}"> 
                </div> 

                <div class="slike slika-5">
                    <img id="sl-5" src="{% static 'profil/galerija/Coa Pro 24-3.jpg'%}"> 
                </div> 

                <div class="slike slika-1">
                    <img  id="sl-5" src="{% static 'profil/galerija/Coa Pro-n3a.jpg'%}">  
                </div> 

                <div class="slike slika-2">
                    <img  id="sl-5" src="{% static 'profil/galerija/Coa Pro-n3a.jpg'%}">  
                </div> 

                <div class="slike slika-5">
                    <img  id="sl-5" src="{% static 'profil/galerija/Coa Pro-n3aTel2a.jpg'%}">  
                </div> 

                <div class="slike slika-5">
                    <img  id="sl-5" src="{% static 'profil/galerija/Coa Pro v2.2.6 14.04.20. b.jpg'%}"> 
                </div> 

                <div class="slike slika-5">
                    <img  id="sl-5" src="{% static 'profil/galerija/Coa Pro v2.2.7 12.05.20 Vers™ Slika 1.jpg'%}">  
                </div> 

                <div class="slike slika-5">
                    <img  id="sl-5" src="{% static 'profil/galerija/Coa Pro v2.2.7 12.0520 Vers™ Slika 1-1.jpg'%}">  
                </div> 

                <div class="slike slika-5">
                    <img  id="sl-5" src="{% static 'profil/galerija/Coa Pro v2.2.7 16.05.20 Slika-2-1.jpg'%}"> 
                </div> 

                <div class="slike slika-1">
                    <img  id="sl-5" src="{% static 'profil/galerija/Coa Pro v2.2.7 19.05.20 Slika-0.jpg'%}"> 
                </div> 

                <div class="slike slika-2">
                    <img  id="sl-5" src="{% static 'profil/galerija/Coa Pro v2.2.7 19.05.20 Slika-0-1.jpg'%}"> 
                </div> 

                <div class="slike slika-5">
                    <img  id="sl-5" src="{% static 'profil/galerija/Coa Pro v2.2.8 28.06.20 WCDMA-Slika-2 L.jpg'%}">
                </div> 

                <div class="slike slika-5">
                    <img  id="sl-5" src="{% static 'profil/galerija/Coa Pro v2.2.8 28.06.20 WCDMA-Slika-3 L.jpg'%}"> 
                </div> 

                <div class="slike slika-5">
                    <img  id="sl-5" src="{% static 'profil/galerija/Coa Pro v2.2.9 21.07.20 Slika-1-2c3.jpg'%}">  
                </div> 

                <div class="slike slika-5">
                    <img  id="sl-5" src="{% static 'profil/galerija/Coa Pro v2.2.9 21.07.20 Slika-1-Novo2.jpg'%}">  
                </div> 

                <div class="slike slika-5">
                    <img  id="sl-5" src="{% static 'profil/galerija/Coa Pro v2.2.9 24.07.20 Slika-1.jpg'%}">  
                </div> 

                <div class="slike slika-1">
                    <img  id="sl-5" src="{% static 'profil/galerija/Coa Pro v2.2.b 22.09.20 Slika-1a-m.jpg'%}"> 
                </div> 

                <div class="slike slika-2">
                    <img  id="sl-5" src="{% static 'profil/galerija/Coa Pro v2.2.b 22.09.20 Slika-1b-m.jpg'%}">  
                </div> 

                <div class="slike slika-5">
                    <img  id="sl-5" src="{% static 'profil/galerija/Pro 2.3.0 17.11.20 Slika1TDemo2.jpg'%}"> 
                </div> 

                <div class="slike slika-5">
                    <img  id="sl-5" src="{% static 'profil/galerija/Pro 2.3.0 17.11.20 Slika1T4.jpg'%}">  
                </div> 

            </div> 

    
        </main>

    </div>



</body>

        <footer id="futer_t">
            <div class="futer_t_ikonice">
                <a href="https://www.linkedin.com/in/aleksandar-lukovic" target="_blank"><img src="{% static 'profil/ico/linkedin.svg'%}" title="LinkedIn"></img> </a>
                <a href="https://github.com/CoaPro" target="_blank"><img src="{% static 'profil/ico/github.svg'%}" title="GitHub"></img> </a>
                <a href="https://web.facebook.com/ALh4x0r997/" target="_blank"><img src="{% static 'profil/ico/facebook.svg'%}" title="Facebook"></img> </a> 
                <a href="https://www.instagram.com/coa.pro/" target="_blank"><img src="{% static 'profil/ico/instagram.svg'%}" title="Instagram"></img> </a>
                <!--  <a href="https://www.youtube.com/CoaPro/" target="_blank"><img src="{% static 'profil/ico/youtube.svg'%}" title="Aleksandar Luković | YouTube"></img> </a> --> 
            </div>
        </footer>

</html>