<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aleksandar Luković">
    <title>Aleksandar Luković | Kontakt </title> 

    {% load static %}
    <link rel="stylesheet" href="{% static 'profil/css/stil-zaglavlje.css'%}"> 
    <link rel="stylesheet" href="{% static 'profil/css/stil-kontakt.css'%}"> 
    <link rel="stylesheet" href="{% static 'profil/css/stil-futer.css'%}"> 
    <link rel="shortcut icon" href="{% static 'profil/img/Slika_CV_krug.png'%}"> 

</head>
<body>
  
<div class="zaglavlje"> 

    <ul class="jezik"> 
            <li><a href="{% url 'kontaktProfil' %}">SRB</a></li> 
            <li><a href="{% url 'contactProfile' %}">ENG</a></li> 
    </ul> 


    <header>
        <img class="logo" src="{% static 'profil/img/Slika_CV_krug.png'%}" alt="logo" title="Aleksandar Luković" >

        <nav>
            <ul class="nav_bar">
                <li><a href="{% url 'srProfil' %}">A. Luković</a></li>
                <li><a href="{% url 'profilProfil' %}">Profil</a></li>
                <li><a href="{% url 'fakultetProfil' %}">Fakultet</a></li>
                <li><a href="{% url 'onlProfil' %}">Online kursevi i sertifikati </a></li>
                <li><a href="{% url 'galerijaProfil' %}">Galerija</a></li>
                <li><a href="{% url 'kontaktProfil' %}">Kontakt</a></li>
            </ul>
        </nav>

        <a class="btn" href="javascript:history.back()"><button id="nazad" >Nazad</button></a>

    </header>
</div> 

    <div class="omotac">
    
        <section>
            
            <div class="email_f">

                <form action="https://formspree.io/f/meqppwee" method="POST" id="my-form"> 

                    <div class="form-group">

                        <label for="ime">Ime</label>
                        <input type="text" id="ime" name="ime"> 

                    </div>

                    <div class="form-group">

                        <label for="prezime">Prezime</label>
                        <input type="text" id="prezime" name="prezime"> 

                    </div>

                    <div class="form-group">

                        <label for="email">Email</label>
                        <input type="text" id="email" name="email"> 

                    </div>

                    <div class="form-group">

                        <label for="poruka">Poruka</label>
                    <textarea name="poruka" id="poruka" cols="30" rows="10"></textarea>

                    </div>

                    <button id="btn_c" type="submit">Pošalji</button>

                </form>    

            </div>

            <div id="status"> </div>

        </section>
        
        <script src="{% static 'profil/js/kontakt.js'%}"></script>

    </div>

</body>

        <footer id="futer_t">
            <div class="futer_t_ikonice">
                <a href="https://www.linkedin.com/in/aleksandar-lukovic" target="_blank"><img src="{% static 'profil/ico/linkedin.svg'%}" title="LinkedIn"></img> </a>
                <a href="https://github.com/CoaPro" target="_blank"><img src="{% static 'profil/ico/github.svg'%}" title="GitHub"></img> </a>
                <a href="https://web.facebook.com/ALh4x0r997/" target="_blank"><img src="{% static 'profil/ico/facebook.svg'%}" title="Facebook"></img> </a> 
                <a href="https://www.instagram.com/coa.pro/" target="_blank"><img src="{% static 'profil/ico/instagram.svg'%}" title="Instagram"></img> </a>
                <!--  <a href="https://www.youtube.com/CoaPro/" target="_blank"><img src="{% static 'profil/ico/youtube.svg'%}" title="Aleksandar Luković | YouTube"></img> </a> --> 
            </div>
        </footer>

</html>