<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aleksandar Luković">
    <title>Aleksandar Luković | Online kursevi  </title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'profil/css/stil-zaglavlje.css'%}"> 
    <!--  <link rel="stylesheet" href="./css/stil-test2.css"> -->
    <link rel="stylesheet" href="{% static 'profil/css/stil-onl.css'%}"> 
    <link rel="stylesheet" href="{% static 'profil/css/stil-futer.css'%}"> 
    <link rel="shortcut icon" href="{% static 'profil/img/Slika_CV_krug.png'%}"> 

</head>
<body>


    <div class="zaglavlje"> 

        <ul class="jezik"> 
            <li><a href="{% url 'onlProfil' %}">SRB</a></li> 
            <li><a href="{% url 'onlProfile' %}">ENG</a></li> 
        </ul> 

        <header>
            <img class="logo" src="{% static 'profil/img/Slika_CV_krug.png'%}" alt="Aleksandar Luković">

            <nav>
                <ul class="nav_bar">
                    <li><a href="{% url 'enProfile' %}">A. Luković</a></li>
                    <li><a href="{% url 'profileProfile' %}">Profile</a></li>
                    <li><a href="{% url 'facultyProfile' %}">Faculty</a></li>
                    <li><a href="{% url 'onlProfile' %}">Online courses and certificates</a></li>
                    <li><a href="{% url 'galeryProfile' %}">Galery</a></li>
                    <li><a href="{% url 'contactProfile' %}">Contact</a></li>
                </ul>
            </nav>

            <a class="btn" href="javascript:history.back()"><button id="nazad" >Back</button></a>
        </header> 
        
    </div> 

    <div class="omotac">
    
        <main>
                    <div class="grid-container"> 
                            <ul class="lista_a a0">

                                <li class="lista_a a0">
                                    Online courses I attend: 
                                    <ul class="lista_b b0"> 
                                        <li>Master JavaScript Course 2020 | <a href="https://www.eduonix.com/new_dashboard/master-javascript-the-most-complete-javascript-course-2020" target="_blank">Eduonix</a></li>
                                        <li>FullStack JavaScript Developer E-Degree | <a href="https://www.eduonix.com/fullstack-javascript-developer-edegree" target="_blank">Eduonix</a></li>
                                        <li>The Complete Full Stack JavaScript Course | <a href="https://www.udemy.com/course/full-stack-javascript" target="_blank">Udemy</a></li> 
                                        <li>Cybersecurity E-degree | <a href="https://www.eduonix.com/cybersecurity-edegree" target="_blank">Eduonix</a>  </li> 
                                        <li>45+  Web Development, Web Game Development, Artifical Intelligence, Machine Learning, JavaScript Game Develompent, WordPress Design  </li>
                                    </ul> 
                                </li>
                            </ul>

                            <img id="kursevi" src="{% static 'profil/img/kursevi.png'%}" alt="Online courses">
                            
                            <ul class="lista_a a1"> 
                                <li class="lista_a a0">
                                    Online certificates I have:  
                                    <ul class="lista_b b1"> 
                                        <ul class="lista_b_b1">
                                            <li>HTML | <a href="https://www.sololearn.com/Certificate/1014-3157738/pdf/" target="_blank">SoloLearn</a></li>
                                            <li>CSS | <a href="https://www.sololearn.com/Certificate/1023-3157738/pdf/" target="_blank">SoloLearn</a></li>
                                            <li>JavaScript | <a href="https://www.sololearn.com/Certificate/1024-3157738/pdf/" target="_blank">SoloLearn</a></li>
                                            <li>jQuery | <a href="https://www.sololearn.com/Certificate/1082-3157738/pdf/" target="_blank">SoloLearn</a></li>
                                            <li>SQL | <a href="https://www.sololearn.com/Certificate/1060-3157738/pdf/" target="_blank">SoloLearn</a></li>
                                        </ul>
                                    </ul> 
                                </li>    
                         </ul>
                    </div>
            </main>
    </div>

</body>

        <footer id="futer_t">
            <div class="futer_t_ikonice">
                <a href="https://www.linkedin.com/in/aleksandar-lukovic" target="_blank"><img src="{% static 'profil/ico/linkedin.svg'%}" title="LinkedIn"></img> </a>
                <a href="https://github.com/CoaPro" target="_blank"><img src="{% static 'profil/ico/github.svg'%}" title="GitHub"></img> </a>
                <a href="https://web.facebook.com/ALh4x0r997/" target="_blank"><img src="{% static 'profil/ico/facebook.svg'%}" title="Facebook"></img> </a> 
                <a href="https://www.instagram.com/coa.pro/" target="_blank"><img src="{% static 'profil/ico/instagram.svg'%}" title="Instagram"></img> </a>
                <!--  <a href="https://www.youtube.com/CoaPro/" target="_blank"><img src="{% static 'profil/ico/youtube.svg'%}" title="Aleksandar Luković | YouTube"></img> </a> --> 
            </div>
        </footer>

</html>