<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aleksandar Luković"> 
    <title>Aleksandar Luković | Profil </title> 

    {% load static %}
    <link rel="stylesheet" href="{% static 'profil/css/stil-zaglavlje.css'%}"> 
    <link rel="stylesheet" href="{% static 'profil/css/stil-pocetna.css'%}"> 
    <link rel="stylesheet" href="{% static 'profil/css/stil-profil.css'%}"> 
    <link rel="stylesheet" href="{% static 'profil/css/stil-futer.css'%}"> 
    <link rel="shortcut icon" href="{% static 'profil/img/Slika_CV_krug.png'%}"> 

</head>

<body>

    <div class="zaglavlje"> 

        <ul class="jezik"> 
            <li><a href="{% url 'profilProfil' %}">SRB</a></li> 
            <li><a href="{% url 'profileProfile' %}">ENG</a></li>
        </ul>  
  
        <header>

            <img class="logo" src="{% static 'profil/img/Slika_CV_krug.png'%}" alt="logo" title="Aleksandar Luković" >


                <nav>

                    <ul class="nav_bar">

                        <li><a href="{% url 'srProfil' %}">Početna</a></li>
                        <li><a href="{% url 'profilProfil' %}">Profil</a></li>
                        <li><a href="{% url 'fakultetProfil' %}">Fakultet</a></li>
                        <li><a href="{% url 'onlProfil' %}">Online kursevi i sertifikati </a></li>
                        <li><a href="{% url 'galerijaProfil' %}">Galerija</a></li>
                        <li><a href="{% url 'kontaktProfil' %}">Kontakt</a></li>
                        
                    </ul>


                </nav>

                <a class="btn" href="javascript:history.back()"><button id="nazad" >Nazad</button> </a> 
                
        </header>

    </div>

</ul> 

    <div class="omotac">
    
        <main>

            <div class="main_t_a">

                <div class="grid-container"> 

                         
                        <ul class="lista_a">

                            <li>Ime, srednje ime i prezime:  

                            <ul class="lista_a_a a0"> 
                                <li>> Aleksandar D. Luković</li>
                            </ul> 

                            <hr> 

                            <li>Godište:  

                                <ul class="lista_a_a a0"> 
                                    <li>> 1997 | 23 godine </li>
                                </ul> 
    
                                <hr> 

                            </li>

                            <li>Obrazovanje:  

                                <ul class="lista_a_a a1">
                                    <li>> Gimnazija Vrnjačka Banja – Informatički smer (2012. – 2016.) </li>
                                    <li>> Saobraćajni fakultet – Telekomunikacioni saobraćaj i mreže | Osnovne akademske studije (2016. – 2020.) </li>
                                    <li>> Diplomirani inženjer telekomunikacionog saobraćaja i mreža (2020.) </li>
                                    <li>> Saobraćajni fakultet – Telekomunikacioni saobraćaj i mreže | Master akademske studije (od 2020. – trenutno) </li>
                                </ul> 
                                
                                <hr>

                            </li>
                        
                            <li>Programski jezici:  
                                <ul class="lista_a_a a2">
                                    <li>> HTML5 </li> 
                                    <li>> CSS3  </li> 
                                    <li>> JavaScript  </li> 
                                   <!-- <li>> Python </li> -->
                                    <hr>

                                </ul> 

                            </li>

                            <li>Web alati:  
                                <ul class="lista_a_a a3">
                                    <li>> WordPress </li>
                                    <li>> Elementor </li> 
                                    <li>> Git & GitHub </li> 
                                </ul> 

                                <hr>

                            </li>

                            <li>Programski paketi: 
                                <ul class="lista_a_a a4">
                                    <li>> <a class="link_gal" href="{% url 'galerijaProfil' %}" target="_blank" title="Neki od mojih omiljenih projekata... " >Photoshop </a></li>
                                    <li>>  Visual Studio Code </li>
                                    <li>>  After Effects </li> 
                                    <li>>  Vegas Pro </li>
                                </ul> 

                                <hr>

                            </li>

                            <li>Web Framework-ovi: 
                                <ul class="lista_a_a a5">
                                    <li>>  Bootstrap 4</li>
                                </ul> 

                                <hr>

                            </li>

                            <li>Baze podataka:  
                                <ul class="lista_a_a a6">
                                    <li>>  SQL</li>
                                </ul> 

                                <hr>

                            </li>

                            <li>Osobine: 
                                <ul class="lista_a_a a7">
                                    <li>>  Želja i volja za stalnim napredovanjem, usavršavanjem i učenjem </li> 
                                    <li>>  Ambicioznost</li>
                                    <li>>  Kreativnost </li>
                                    <li>>  Upornost </li>

                                </ul> 

                                <hr>

                            </li>

                            <li>Interesovanja: 
                                <ul class="lista_a_a a9">
                                    <li>>  Front End Web Development: HTML5, CSS3, JavaScript, WordPress </li>
                                    <li>>  Specijalni efekti: Adobe Photoshop, After Effects, Vegas Pro </li>
                                    <li>>  Multimedijalni sistemi, aplikacije i protokoli</li> 
                                    <li>>  Photo, Video i audio (FL Studio) efekti</li> 
                                    <li>>  Back End Web Development</li> 
                                    <li>>  Razvoj 3D video igara </li> 
                                    <li>>  Računarska animacija </li> 
                                    <li>>  Veštačka inteligencija </li>
                                    <li>>  Web Framework-ovi </li> 
                                    <li>>  Nauka o podacima </li>
                                    <li>>  Sajber bezbednost </li> 
                                    <li>>  Računarska vizija </li>
                                    <li>>  Etičko hakovanje </li> 
                                    <li>>  Mašinsko učenje </li> 
                                    <li>>  Veb aplikacije </li> 
                                    <li>>  <a href="https://Www.github.com/CoaPro/" target="_blank" title="Moj GitHub profil, aktivan još od 1. 12. 2020. godine "><button id="git_a">Git & GitHub</button></a> </li>  </li> 
                                    <li>>  <a href="https://Www.youtube.com/CoaPro" target="_blank" title="Moj YouTube kanal, aktivan još od 3. 4. 2020. godine... "><button id="yt_a">YouTube</button></a> </li>    
                                    <li>>  Big Data </li> 
                                </ul> 

                                <hr> 

                            </li> 

                            <li>Hobi: 
                                <ul class="lista_a_a a10"> 
                                    <li>>  Čitanje </li>
                                    <li>>  Pisanje pesama i sopstvenih radova... </li>
                                </ul>

                                <hr>
                                
                            </li>

                            <li>Jezici: 
                                <ul class="lista_a_a a10">
                                    <li>>  srpski (maternji)</li>
                                    <li>>  engleski (srednji nivo poznavanja) </li>
                                </ul>

                                <hr>
                                
                            </li>
                        </ul>
                                                        
                </div>

            </div>

        </main>

    </div>

</body>

        <footer id="futer_t">
            <div class="futer_t_ikonice">
                <a href="https://www.linkedin.com/in/aleksandar-lukovic" target="_blank"><img src="{% static 'profil/ico/linkedin.svg'%}" title="LinkedIn"></img> </a>
                <a href="https://github.com/CoaPro" target="_blank"><img src="{% static 'profil/ico/github.svg'%}" title="GitHub"></img> </a>
                <a href="https://web.facebook.com/ALh4x0r997/" target="_blank"><img src="{% static 'profil/ico/facebook.svg'%}" title="Facebook"></img> </a> 
                <a href="https://www.instagram.com/coa.pro/" target="_blank"><img src="{% static 'profil/ico/instagram.svg'%}" title="Instagram"></img> </a>
                <!--  <a href="https://www.youtube.com/CoaPro/" target="_blank"><img src="{% static 'profil/ico/youtube.svg'%}" title="Aleksandar Luković | YouTube"></img> </a> --> 
            </div>
        </footer>

</html>