<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aleksandar Luković"> 
    <title>Aleksandar Luković | Profile </title> 

    {% load static %}
    <link rel="stylesheet" href="{% static 'profil/css/stil-zaglavlje.css'%}"> 
    <link rel="stylesheet" href="{% static 'profil/css/stil-pocetna.css'%}"> 
    <link rel="stylesheet" href="{% static 'profil/css/stil-profil.css'%}"> 
    <link rel="stylesheet" href="{% static 'profil/css/stil-futer.css'%}"> 
    <link rel="shortcut icon" href="{% static 'profil/img/Slika_CV_krug.png'%}"> 
    
</head>

<body>

    <div class="zaglavlje"> 

        <ul class="jezik"> 
            <li><a href="{% url 'profilProfil' %}">SRB</a></li> 
            <li><a href="{% url 'profileProfile' %}">ENG</a></li> 
        </ul>  

        <header>

            <img class="logo" src="{% static 'profil/img/Slika_CV_krug.png'%}" alt="Aleksandar Luković">


                <nav>

                    <ul class="nav_bar">
                        <li><a href="{% url 'enProfile' %}">A. Luković</a></li>
                        <li><a href="{% url 'profileProfile' %}">Profile</a></li>
                        <li><a href="{% url 'facultyProfile' %}">Faculty</a></li>
                        <li><a href="{% url 'onlProfile' %}">Online courses and certificates</a></li>
                        <li><a href="{% url 'galeryProfile' %}">Galery</a></li>
                        <li><a href="{% url 'contactProfile' %}">Contact</a></li>
                    </ul>


                </nav>

                <a class="btn" href="javascript:history.back()"><button id="nazad" >Back</button> </a> 
                
        </header>

    </div>

</ul> 

    <div class="omotac">
    
        <main>

            <div class="main_t_a">

                <div class="grid-container"> 

                         
                        <ul class="lista_a">

                            <li>Full name:  

                            <ul class="lista_a_a a0"> 
                                <li>> Aleksandar D. Luković</li>
                            </ul> 

                            <hr>

                            </li> 

                            <li>Birth year:  

                                <ul class="lista_a_a a0"> 
                                    <li>> 1997 | 23 years old </li>
                                </ul> 
    
                                <hr> 

                            </li>


                            <li>Education:  

                                <ul class="lista_a_a a1">
                                    <li>> Grammar School Vrnjačka Banja – Computer Science (2012. – 2016.) </li>
                                    <li>> Faculty of transport and traffic engineering | University of Belgrade  – Departement of Telecommunication traffic and networks | Bachelor of Engineering  (2016. – 2020.) </li>
                                    <li>> Graduate Engineer of Telecommunications traffic and networks (2020.) </li>
                                    <li>> Faculty of transport and traffic engineering | University of Belgrade  – Departement of Telecommunication traffic and networks | Master of Engineering  (od 2020. – trenutno) </li>
                                </ul> 
                                
                                <hr>

                            </li>
                        
                            <li>Programming languages:  
                                <ul class="lista_a_a a2">
                                    <li>> JavaScript </li> 
                                    <li>> Python </li>
                                    <hr>
                                </ul> 
                            </li>

                            <li>JavaScript skills:  
                                <ul class="lista_a_a a2">
                                    <li>> JavaScript | OOP <span id="profilNovo">New</span> </li>
                                    <li>> JavaScript | Express.js <span id="profilNovo">New</span> </li> 
                                    <li>> JavaScript | Node.js <span id="profilNovo">New</span> </li>
                                    <li>> JavaScript | React.js <span id="profilNovo">New</span> </li>
                                    <li>> JavaScript Web applications and principles of cybersecurity | General topic of master thesis <span id="profilNovo">New</span> </li>
                                    <hr>
                                </ul> 
                            </li>

                            <li>Python skills:  
                                <ul class="lista_a_a a2">
                                    <li>> Python | Django <span id="profilNovo">New</span></li>                                    
                                    <hr>
                                </ul> 
                            </li>

                            <li>General topic of master thesis in progress:   
                                <ul class="lista_a_a a2">
                                    <li>> JavaScript Web applications: network programming and cybersecurity  <span id="profilNovo">New</span></li>                                    
                                    <hr>
                                </ul> 
                            </li>

                            <li>Web tools:  
                                <ul class="lista_a_a a3">
                                    <li>Heroku <span id="profilNovo">New</span></li>
                                    <li>> WordPress </li>
                                    <li>> Elementor </li> 
                                    <li>> Git & GitHub </li> 
                                </ul> 

                                <hr>

                            </li>

                            <li>Software: 
                                <ul class="lista_a_a a4">
                                    <li>> <a class="link_gal" href="{% url 'galerijaProfil' %}" target="_blank" title="Some of my favorite projects... " >Photoshop </a></li>
                                    <li>>  Visual Studio Code </li>
                                    <li>>  After Effects </li> 
                                    <li>>  Vegas Pro </li>
                                </ul> 

                                <hr>

                            </li>

                            <li>Web frameworks: 
                                <ul class="lista_a_a a5">
                                    <li>>  Bootstrap 4</li>
                                </ul> 

                                <hr>

                            </li>

                            <li>Databases:  
                                <ul class="lista_a_a a6">
                                    <li>>  SQL</li>
                                </ul> 

                                <hr>

                            </li>

                            <li>Personal characteristics: 
                                <ul class="lista_a_a a7">
                                    <li>>  Desire for constant progress, improvement and learning </li> 
                                    <li>>  Ambition </li>
                                    <li>>  Creativity </li>
                                    <li>>  Persistence </li>

                                </ul> 

                                <hr>

                            </li>

                            <li>Interests: 
                                <ul class="lista_a_a a9">
                                    <li>>  Front End Web Development: HTML5, CSS3, JavaScript, WordPress </li>
                                    <li>>  Special effects: Adobe Photoshop, After Effects, Vegas Pro </li>
                                    <li>>  Multimedial systems, applications and protocols </li> 
                                    <li>>  Photo, Video and audio (FL Studio) effects </li> 
                                    <li>>  3D Video Games Development </li> 
                                    <li>>  Back End Web Development</li> 
                                    <li>>  Computer animation  </li> 
                                    <li>>  Artifical intelligence </li>
                                    <li>>  Web Frameworks </li> 
                                    <li>>  Data Science </li>
                                    <li>>  Cybersecurity </li> 
                                    <li>>  Computer Vision </li>
                                    <li>>  Ethical Hacking </li> 
                                    <li>>  Machine Learning </li> 
                                    <li>>  Web Applications </li> 
                                    <li>>  <a href="https://Www.github/CoaPro/" target="_blank" title="My GitHub profile, which has been active since  1. 12. 2020. year "><button id="git_a">Git & GitHub</button></a> </li>
                                    <li>>  <a href="https://Www.aleksandarlukovic.herokuapp.com" target="_blank" title="My Dynamic Heroku Web App | Latest project - Since 8. 2. 2021. "><button id="heroku_a">Heroku</button></a> <span id="profilNovo">New</span> </li>
                                    <li>>  <a href="https://Www.youtube.com/CoaPro" target="_blank" title="My YouTube account, which has been active since  3. 4. 2014. year... "><button id="yt_a">YouTube</button></a> </li> 
                                    <li>>  Big Data </li> 
                                </ul> 

                                <hr> 

                            </li> 

                            <li>Hoby: 
                                <ul class="lista_a_a a10">
                                    <li>>  Reading </li>
                                    <li>>  Writing... </li>
                                </ul>

                                <hr>
                                
                            </li>

                            <li>Languages: 
                                <ul class="lista_a_a a10">
                                    <li>>  serbian (Native) </li>
                                    <li>>  english (Intermediate level of knowledge) </li>
                                </ul>

                                <hr>
                                
                            </li>
                        </ul>
                                                        
                </div>

            </div>

        </main>

    </div>

</body>

        <footer id="futer_t">
            <div class="futer_t_ikonice">
                <a href="https://www.linkedin.com/in/aleksandar-lukovic" target="_blank"><img src="{% static 'profil/ico/linkedin.svg'%}" title="LinkedIn"></img> </a>
                <a href="https://github.com/CoaPro" target="_blank"><img src="{% static 'profil/ico/github.svg'%}" title="GitHub"></img> </a>
                <a href="https://web.facebook.com/ALh4x0r997/" target="_blank"><img src="{% static 'profil/ico/facebook.svg'%}" title="Facebook"></img> </a> 
                <a href="https://www.instagram.com/coa.pro/" target="_blank"><img src="{% static 'profil/ico/instagram.svg'%}" title="Instagram"></img> </a>
                <!--  <a href="https://www.youtube.com/CoaPro/" target="_blank"><img src="{% static 'profil/ico/youtube.svg'%}" title="Aleksandar Luković | YouTube"></img> </a> --> 
            </div>
        </footer>

</html>