<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aleksandar Luković">
    <title>Aleksandar Luković | SRB </title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'profil/css/stil-zaglavlje.css'%}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'profil/css/stil-pocetna.css'%}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'profil/css/stil-futer.css'%}"> 
    <link rel="shortcut icon" type="text/css" href="{% static 'profil/img/Slika_CV_krug.png'%}"> 

</head>

<body>

<div class="zaglavlje"> 

    <ul class="jezik"> 
        <li><a href="{% url 'srProfil' %}">SRB</a></li> 
        <li><a href="{% url 'enProfile' %}">ENG</a></li> 
    </ul>     

    <header>

        <img class="logo" src="{% static 'profil/img/Slika_CV_krug.png'%}" alt="logo" title="Aleksandar Luković" >

        <nav>
            <ul class="nav_bar">

                <li><a href="{% url 'indexRoot' %}">Root</a></li>
                <li><a href="{% url 'profilProfil' %}">Profil</a></li>
                <li><a href="{% url 'fakultetProfil' %}">Fakultet</a></li>
                <li><a href="{% url 'onlProfil' %}">Online kursevi i sertifikati </a></li>
                <li><a href="{% url 'galerijaProfil' %}">Galerija</a></li>
                <li><a href="{% url 'kontaktProfil' %}">Kontakt</a></li>
            </ul>
        </nav>

        <a class="btn" href="javascript:history.back()"><button id="nazad">Nazad</button></a>

    </header>

</div> 

    <div class="omotac">

        <main>

            <div class="grid-container">

                <div class="pocetna_a" style="background-image: url('{% static 'profil/img/s2min.jpg'%}')"></div>

                    <div class="sadrzaj_a">

                        <h1>Aleksandar Luković</h1> 
                        <h4>Online CV i portfolio</h4>

                        <div class="tasteri">
                            <a href="{% url 'srProfil' %}" title="Profil & CV" ><button id="btn_a">Profil</button></a>
                            <a href="{% url 'indexRoot' %}" title="Nazad na root/ direktorijum" ><button id="btn_b">Root</button></a> 
                        </div>

                        <div class="rad">
                            Poslednja izmena:
                            <br> 
                            <br>
                            10. 2. 2021. 
                        </div> 

                    </div> 

            </div>

        </main>

    </div>



<footer id="futer_t"> 
    <div class="futer_t_ikonice_pocetna">
        <a href="https://www.linkedin.com/in/aleksandar-lukovic" target="_blank"><img src="{% static 'profil/ico/linkedin.svg'%}" title="LinkedIn"></img> </a>
        <a href="https://github.com/CoaPro" target="_blank"><img src="{% static 'profil/ico/github.svg'%}" title="GitHub"></img> </a>
        <a href="https://web.facebook.com/ALh4x0r997/" target="_blank"><img src="{% static 'profil/ico/facebook.svg'%}" title="Facebook"></img> </a> 
        <a href="https://www.instagram.com/coa.pro/" target="_blank"><img src="{% static 'profil/ico/instagram.svg'%}" title="Instagram"></img> </a>
        <!--  <a href="https://www.youtube.com/CoaPro/" target="_blank"><img src="{% static 'profil/ico/youtube.svg'%}" title="Aleksandar Luković | YouTube"></img> </a> --> 
    </div> 
    <div class="autorska_prava">
        © 2021 Aleksandar Luković | Sva prava zadržana
    </div>
</footer>
</body> 
</html>