<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aleksandar Luković | Blog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'root/css/zaglavlje.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'root/css/aktivnosti.css' %}">
    <link rel="stylesheet" href="{% static 'root/css/zacelje.css'%}">
    <link rel= "shortcut icon" href="{% static 'root/ico/Coa Pro 25aaa3.png' %}">
    
</head>
<body>

    <div class="zaglavlje"> 
        <p id="txt">Aleksandar Luković | Root Beta </p>
        
        <div class="navbar">
          
           <div class="navbar_item"><a href="{% url 'indexRoot' %}" title="Početna stranica">Root</a></div> 
           <div class="navbar_item"><a href="{% url 'srProfil' %}" title="Moja online biografija">Profil</a></div> 
           <div class="navbar_item"><a href="{% url 'fakultetProfil' %}" title="Fakultet, studije, inženjerstvo">Fakultet</a></div> 
           <div class="navbar_item"><a href="{%url 'aktivnostiRoot' %}" title="Važni datumi u mom Veb radu">Aktivnosti</a></div> 
           <div class="navbar_item"><a href="{%url 'opisRoot' %}" title="O meni">Biografija</a></div> 
           <div class="navbar_item"><a href="{%url 'projektiRoot' %}" title="Moji Veb projekti">Veb projekti</a></div> 
           <div class="navbar_item"><a href="{%url 'kontaktProfil' %}" title="E-mail kontakt">Kontakt</a></div>

        </div>

    </div> 

    <div class="teloA">

        <div class="a0">
            <p>Ovo je dan za pamćenje.</p>
            <p>Datuma 6. 2. 2021. kreirao sam svoju prvu Python Veb aplikaciju </p>
            <p>Moja prva Python Veb aplikacija je online. </p>
            <p>Pesrećan sam. </p>
            <p>Ovo je tek početak.</p>
            <p>Ja postajem Web Developer... </p>
            <p>6. 2. 2021. | 22.14h</p>
            <p>Aca.</p> 
        </div>

        <div class="a1">
            <p>Ovo je dan za pamćenje.</p>
            <p>Datuma 8. 2. 2021. (Ponedeljak), počeo sam sa integracijom svih mojih dosadašnjih projekata (sa GitHub-a)
            <br/> u jedinstveni dinamički Veb sajt </p>
            <p>Pesrećan sam. </p>
            <p>Ovo je tek početak.</p>
            <p>Ja postajem Web Developer... </p>
            <p>8. 2. 2021. | 16.56h</p>
            <p>Novi GitHub/root direktorijum i povezivanje sa Heroku-om </p>
            <p>8. 2. 2021. | 18.23h</p>
            <p>Aca.</p> 
        </div>

        <div class="a2">
            <p>Dan 2.</p>
            <p>Datum 9. 2. 2021. (Utorak) - Nastavak integracije svih mojih dosadašnjih projekata (sa GitHub-a)
            <br/> u jedinstveni dinamički Veb sajt </p>
            <p>9. 2. 2021. | 18.04h</p>
            <p>Aca.</p> 
        </div>

        <div class="a3">
            <p>Dan 3. - Dan za pamćemnje</p>
            <p>Datum 10. 2. 2021. (Sreda) - Završena integracija svih  dosadašnjih projekata (sa GitHub-a)</p>
            <br/> u jedinstveni dinamički Veb sajt </p>
            <p>Sada slede dodatna ažuriranja i poboljšanja navigacije</p>
            <p>10. 2. 2021. | 11.15h</p>
            <p>Aca.</p> 
        </div>

        <div class="a4">
            <p>Dan 4. - Ažuriranje nakon mesec dana i sagledavanje rezultata</p>
            <p>Datum 11. 3. 2021. (četvrtak) i ažuriranje u odnosu na 11. 2. 2021. (četvrtak)</p>
            <br/>
            <p>Izmena teksta u biografiji i ostvarenje navedenih ciljeva: </p>
            <br/>
            <br/>

            <i>
                Moj aktivniji rad u oblastima Veb dizajna i Veb programiranja kreće po završeku osnovnih studija telekomunikacija.
                Za ova, do sada tri i po meseca vežbanja i bavljenja Web Development-om, pristupio sam najvećoj online open-source zajednici programera otvorenog koda - GitHub i napravio svoja tri sajta. 
                <br/>
                Najnoviji projekat na kome radim je njihova integracija u dinamički Veb sajt, sa Back-End-om, koji pokreće Python. 
                Moj projekat se nalazi na linku aleksandarlukovic.herokuapp.com.
                <br/>
                <br/>
                Sajtove svakodnevno ažuriram, a takođe imam i dosta ideja za dalji rad. 
                Jedan od ciljeva mi je da objedinim sve ono što radim na master studijama i predstavim pomoću dinamičkih Veb sajtova i Veb aplikacija. 
                <br/>
                <br/>
                <!-- <div class="telo0itemC"> -->
                Koristim sledeće programske jezike i programe: 
                <br/>
                <br/>
                HTML
                <br/>
                CSS
                <br/>
                JavaScript
                <br/>
                Python - BackEnd (Django) 
                <br/>
                Git & GitHub 
                <br/>
                Visual Studio Code 
                <br/>
                Adobe Photoshop CC 2019 
                <br/>

                Želja mi je da postanem Web Developer.  

                <br/>

            </i>

            <br/>
            <p>Izmena teksta u biografiji i ostvarenje cilja: </p>
            <br/>
            <br/>


        </div>



        <div class="nazadA">
            <a href="{% url 'indexRoot' %}"><li>Nazad na početnu</li></a>
        </div>

</div> 

<div class="zacelje"> 
        
    <div class="autorskaPrava">

        © 2021 Aleksandar Luković | Sva prava zadržana.
        <br/>
        Kodovano sa srcem. 
        
    </div>

    <div class="zacelje_c">


        <div class="zacelje_i">
            <a href="https://www.linkedin.com/in/aleksandar-lukovic" target="_blank"><img src="{% static 'telekomunikacije/ico/linkedin.svg' %}" title="Aleksandar Luković | LinkedIn"></img> </a>
        </div>

        <div class="zacelje_i">
            <a href="https://github.com/CoaPro" target="_blank"><img src="{% static 'telekomunikacije/ico/github.svg' %}" title="Aleksandar Luković | GitHub"></img> </a>
        </div>

        <div class="zacelje_i">
            <a href="https://web.facebook.com/ALh4x0r997/" target="_blank"><img src="{% static 'telekomunikacije/ico/facebook.svg' %}" title="Aleksandar Luković | Facebook"></img> </a> 
        </div>

        <div class="zacelje_i">
            <a href="https://www.instagram.com/coa.pro/" target="_blank"><img src="{% static 'telekomunikacije/ico/instagram.svg' %}" title="Aleksandar Luković | Instagram"></img> </a>
        </div>

        <div class="zacelje_i">
            <a href="https://www.youtube.com/CoaPro/" target="_blank"><img src="{% static 'telekomunikacije/ico/youtube.svg' %}" title="Aleksandar Luković | YouTube"></img> </a>
        </div>

    </div>
</div> 

</body>
</html>