<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aleksandar Luković | Root </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'root/css/zaglavlje.css'%}">
    <link rel="stylesheet" href="{% static 'root/css/pocetna.css'%}">
    <link rel="stylesheet" href="{% static 'root/css/zacelje.css'%}">
    <link rel= "shortcut icon" href="{% static 'root/ico/Coa Pro 25aaa3.png' %}">

</head>
<body>

    <div class="zaglavlje"> 
        <p id="txt">Aleksandar Luković | Root Beta </p>
        
        <div class="navbar">

            <div class="navbar_item"><a href="{% url 'srProfil' %}" title="Moja online biografija">Profil</a></div> 
            <div class="navbar_item"><a href="{% url 'fakultetProfil' %}" title="Fakultet, studije, inženjerstvo">Fakultet</a></div> 
            <div class="navbar_item"><a href="{%url 'aktivnostiRoot' %}" title="Važni datumi u mom Veb radu">Aktivnosti</a></div> 
            <div class="navbar_item"><a href="{%url 'opisRoot' %}" title="O meni">Opis</a></div> 
            <div class="navbar_item"><a href="{%url 'projektiRoot' %}" title="Moji Veb projekti">Veb projekti</a></div> 
            <div class="navbar_item"><a href="{%url 'kontaktProfil' %}" title="E-mail kontakt">Kontakt</a></div> 

        </div>

    </div> 

    <div class="teloI">

        <div class="containerI">


            <div class="itemI">
                <img src="{% static 'root/img/Pro 2.3.0 17.11.20 Slika1T4.png' %}">
                <p><button><a href="{% url 'srProfil' %}" title="Moja Online biografija">Profil</a></button></p>
            </div>

            <div class="itemI">
                <img src="{% static 'root/img/Coa Pro 2.3.2 Лого 2021-круг.png' %}">
                <p><button><a href="{% url 'telekomunikacije' %}" title="Moja verzija telekomunikacija">Telekomunikacije</a></button></p>
            </div>

            <div class="itemI">
                <img src="{% static 'root/img/7.png' %}">
                <p><button><a href="{% url 'informatika' %}" title="Moj sajt o infromatici u izradi...">Infromatika Demo</a></button></p>
            </div>
        </div>

    </div>

    <div class="zacelje"> 
        
        <div class="autorskaPrava">
    
            © 2021 Aleksandar Luković | Sva prava zadržana.
            <br/>
            Kodovano sa srcem. 
            
        </div>
    
        <div class="zacelje_c">
    
    
            <div class="zacelje_i">
                <a href="https://www.linkedin.com/in/aleksandar-lukovic" target="_blank"><img src="{% static 'telekomunikacije/ico/linkedin.svg' %}" title="Aleksandar Luković | LinkedIn"></img> </a>
            </div>
    
            <div class="zacelje_i">
                <a href="https://github.com/CoaPro" target="_blank"><img src="{% static 'telekomunikacije/ico/github.svg' %}" title="Aleksandar Luković | GitHub"></img> </a>
            </div>
    
            <div class="zacelje_i">
                <a href="https://web.facebook.com/ALh4x0r997/" target="_blank"><img src="{% static 'telekomunikacije/ico/facebook.svg' %}" title="Aleksandar Luković | Facebook"></img> </a> 
            </div>
    
            <div class="zacelje_i">
                <a href="https://www.instagram.com/coa.pro/" target="_blank"><img src="{% static 'telekomunikacije/ico/instagram.svg' %}" title="Aleksandar Luković | Instagram"></img> </a>
            </div>
    
            <div class="zacelje_i">
                <a href="https://www.youtube.com/CoaPro/" target="_blank"><img src="{% static 'telekomunikacije/ico/youtube.svg' %}" title="Aleksandar Luković | YouTube"></img> </a>
            </div>
    
        </div>
    </div> 
    
</body>
</html>
