<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aleksandar Luković | Root </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'root/css/zaglavlje.css'%}">
    <link rel="stylesheet" href="{% static 'root/css/pocetna.css'%}">
    <link rel="stylesheet" href="{% static 'root/css/zacelje.css'%}">
    <link rel= "shortcut icon" href="{% static 'root/img/Pro 2.3.0 17.11.20 Slika1T4.png' %}">

</head>
<body>

    <div class="zaglavlje"> 
        <p id="txt">Aleksandar Luković | Root Beta </p>
        
        <div class="navbar">

           <div class="navbar_item"><a href="{% url 'indexRoot' %}" target="_blank">Početna</a></div> 
           <div class="navbar_item"><a href="{% url 'srProfil' %}" target="_blank">Profil</a></div> 
           <div class="navbar_item"><a href="https://coapro.github.io/aleksandar/fakultet.html" target="_blank">Fakultet</a></div> 
           <div class="navbar_item"><a href="{%url 'aktivnostiRoot' %}" target="_blank">Aktivnosti</a></div> 
           <div class="navbar_item"><a href="opis.html" target="_blank">Opis</a></div> 
           <div class="navbar_item"><a href="projekti.html" target="_blank">Veb projekti</a></div> 
           <div class="navbar_item"><a href="https://coapro.github.io/aleksandar/kontakt.html" target="_blank">Kontakt</a></div> 

        </div>

    </div> 

    <div class="teloI">

        <div class="containerI">


            <div class="itemI">
                <img src="{% static 'root/img/Pro 2.3.0 17.11.20 Slika1T4.png' %}">
                <p><button><a href="{% url 'srProfil' %}" title="Moja Online biografija">Profil</a></button></p>
            </div>

            <div class="itemI">
                <img src="{% static 'root/img/Coa Pro 2.3.2 Лого 2021-круг.png' %}">
                <p><button><a href="{% url 'telekomunikacije' %}" title="Moja verzija telekomunikacija">Telekomunikacije</a></button></p>
            </div>

            <div class="itemI">
                <img src="{% static 'root/img/7.png' %}">
                <p><button><a href="{% url 'informatika' %}" title="Moj sajt o infromatici u izradi...">Infromatika Demo</a></button></p>
            </div>
        </div>

    </div>
</body>
</html>
