<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Root | Projekti</title> 

    {% load static %}
    <link rel="stylesheet" href="{% static 'root/css/zaglavlje.css'%}">
    <link rel="stylesheet" href="{% static 'root/css/projekti.css'%}">
    <link rel="stylesheet" href="{% static 'root/css/zacelje.css'%}">
</head>
<body>

    <div class="zaglavlje"> 
        <p id="txt">Aleksandar Luković | Root Beta </p>
        
        <div class="navbar">

            <div class="navbar_item"><a href="{% url 'indexRoot' %}" target="Početna stranica">Root</a></div> 
            <div class="navbar_item"><a href="{% url 'srProfil' %}" title="Moja online biografija">Profil</a></div> 
            <div class="navbar_item"><a href="{% url 'fakultetProfil' %}" title="Fakultet, studije, inženjerstvo">Fakultet</a></div> 
            <div class="navbar_item"><a href="{%url 'aktivnostiRoot' %}" title="Važni datumi u mom Veb radu">Aktivnosti</a></div> 
            <div class="navbar_item"><a href="{%url 'opisRoot' %}" title="O meni">O meni</a></div> 
            <div class="navbar_item"><a href="{%url 'projektiRoot' %}" title="Moji Veb projekti">Veb projekti</a></div> 
            <div class="navbar_item"><a href="{%url 'kontaktProfil' %}" title="E-mail kontakt">Kontakt</a></div> 

        </div>

    </div> 

  <div class="teloProjekti">

        <div class="tabelaProjekataA">

            <table>

                <tr>
                    <th>Naziv projekta</th>
                    <th>Opis projekta</th>
                </tr>

                <tr>
                    <td><a href="">Root</a></td>
                </tr>

                <tr>
                    <td><a href="">Profil</a></td>
                </tr>

                <tr>
                    <td><a href="">Informatika</a></td>
                </tr>

                <tr>
                    <td><a href="">Telekomunikacije</a></td>
                </tr>

            </table>

        </div>

        <div class="projektiMeni">
            <a href="{% url 'indexRoot' %}"><li>Nazad na root stranicu</li></a>
        </div>

  </div> 

  <script src="{% static 'root/js/projekti.js' %}"></script>
  
</body>
</html>