<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Root | Veb projekti</title> 

    {% load static %}
    <link rel="stylesheet" href="{% static 'root/css/zaglavlje.css'%}">
    <link rel="stylesheet" href="{% static 'root/css/projekti.css'%}">
    <link rel="stylesheet" href="{% static 'root/css/zacelje.css'%}">
    <link rel= "shortcut icon" href="{% static 'root/ico/Coa Pro 25aaa3.png' %}">
</head>
<body>

    <div class="zaglavlje"> 
        <p id="txt">Aleksandar Luković | Root Beta </p>
        
        <div class="navbar">

            <div class="navbar_item"><a href="{% url 'indexRoot' %}" title="Početna stranica">Root</a></div> 
            <div class="navbar_item"><a href="{% url 'srProfil' %}" title="Moja online biografija">Profil</a></div> 
            <div class="navbar_item"><a href="{% url 'fakultetProfil' %}" title="Fakultet, studije, inženjerstvo">Fakultet</a></div> 
            <div class="navbar_item"><a href="{%url 'aktivnostiRoot' %}" title="Važni datumi u mom Veb radu">Aktivnosti</a></div> 
            <div class="navbar_item"><a href="{%url 'opisRoot' %}" title="O meni">Biografija</a></div> 
            <div class="navbar_item"><a href="{%url 'projektiRoot' %}" title="Moji Veb projekti">Veb projekti</a></div> 
            <div class="navbar_item"><a href="{%url 'kontaktProfil' %}" title="E-mail kontakt">Kontakt</a></div> 

        </div>

    </div> 

  <div class="teloProjekti">

        <div class="tabelaProjekataA">

            <table>

                <tr>
                    <th>Naziv projekta</th>
                    <th>Opis projekta</th>
                </tr>

                <tr>
                    <td><a href="https://aleksandarlukovic.herokuapp.com/">Root</a></td>
                    <td>
                        Moj sveobuhvatni sajt, koji koristi Python kao <i>backend</i>.
                        Ovaj sajt se sastoji od tri celine, tj. tri pod-sajta, a oni su: 
                        Profil, Telekomunikacije i Informatika.
                    </td>
                </tr>

                <tr>
                    <td><a href="https://aleksandarlukovic.herokuapp.com/profil/profil">Profil</a></td>
                    <td>
                        Unutar odeljka profil se mogu naći informacije o mom fakultetu, 
                        osnovnim akademskim i master studijama, oblastima rada i istraživanja, kao i prošireni
                        <i>online</i> CV. Takođe, prikazana je i galerija mojih Photoshop radova. 
                        To je moj hobi, a ako malo bolje sagledam aktivnosti na vremensoj liniji i podatke
                        iz mog dnevnika, Photoshop radovi su obeležili jedan poseban period, a svakako
                        su osnova za moj dalji razvoj...
                        
                    </td>
                </tr>

                <tr>
                    <td><a href="https://aleksandarlukovic.herokuapp.com/informatika">Informatika</a></td>
                    <td>
                        Ovaj odeljak još uvek nisam precizno definisao, ali je svakako rezervisan
                        za moj dalji razvoj. Od informatičkog smera u gimnaziji je sve krenulo, tako 
                        da je preda mnom svakako uzbudljiv nastavak... 
                    </td>
                </tr>

                <tr>
                    <td><a href="https://aleksandarlukovic.herokuapp.com/telekomunikacije">Telekomunikacije</a></td>
                    <td>
                        Sajt Telekomunikacije sam zamislio kao prostor u kome bih postavljao
                        zanimljivosti, bitne pojmove i predmete koje su sastavni deo gradiva
                        na osnovnim i master akademskim studijama. 
                        Jedan deo je namenjen za moje radove, ideje i iskustva, koja nekada možda 
                        promene i poboljšaju svet telekomunikacija. 
                    </td>
                </tr>

                <tr>
                    <td><a href="https://aleksandar-js.herokuapp.com/">Aleksandar-JS</a></td>
                    <td>
                        Moj najnoviji projekat. Trenutno ( datuma 13. 3. 2021.) sam najviše pažnje
                        usmerio na JavaScript programskom jeziku, a ovaj programski jezik izučavam već neko vreme.
                        Sajt će biti potpuno zasnvan na JavaScript-u.
                        U okviru master studija radim u JavaScript-u, okvirna tema mog master rada je
                        vezana za JavaScript, a planiram da sve Veb inovacije realizujem
                        upravo preko ovog programskog jezika. 
                        JavaScript je sveobuhvatni programski jezik, opšte namene i pruža velike 
                        mogućnosti istraživanja. Jedan je od glavnih je jezika Veb-a, a zastupljen je
                        kod programiranja desktop aplikacija, mobilnih aplikacija, urađenih sistema, mreža i harvdera.
                        Prirodno se nametnula veza: 
                        Dipl. inž. -> Računar (Laptop) -> JavaScript -> Rešenje problema 
                        (ili detaljnija forma: )
                        Dipl. inž. -> Telekomunikacije -> Mreže -> Internet -> Mreža svih mreža -> Veb
                        -> JavaScript 
                    </td>
                </tr>

            </table>

        </div>

        <div class="projektiMeni">
            <a href="{% url 'indexRoot' %}"><li>Nazad na root stranicu</li></a>
        </div>

  </div> 

  <div class="zacelje"> 
        
    <div class="autorskaPrava">

        © 2021 Aleksandar Luković | Sva prava zadržana.
        <br/>
        Kodovano sa srcem. 
        
    </div>

    <div class="zacelje_c">


        <div class="zacelje_i">
            <a href="https://www.linkedin.com/in/aleksandar-lukovic" target="_blank"><img src="{% static 'telekomunikacije/ico/linkedin.svg' %}" title="Aleksandar Luković | LinkedIn"></img> </a>
        </div>

        <div class="zacelje_i">
            <a href="https://github.com/CoaPro" target="_blank"><img src="{% static 'telekomunikacije/ico/github.svg' %}" title="Aleksandar Luković | GitHub"></img> </a>
        </div>

        <div class="zacelje_i">
            <a href="https://web.facebook.com/ALh4x0r997/" target="_blank"><img src="{% static 'telekomunikacije/ico/facebook.svg' %}" title="Aleksandar Luković | Facebook"></img> </a> 
        </div>

        <div class="zacelje_i">
            <a href="https://www.instagram.com/coa.pro/" target="_blank"><img src="{% static 'telekomunikacije/ico/instagram.svg' %}" title="Aleksandar Luković | Instagram"></img> </a>
        </div>

        <div class="zacelje_i">
            <a href="https://www.youtube.com/CoaPro/" target="_blank"><img src="{% static 'telekomunikacije/ico/youtube.svg' %}" title="Aleksandar Luković | YouTube"></img> </a>
        </div>

    </div>
</div> 


  <script src="{% static 'root/js/projekti.js' %}"></script>
  
</body>
</html>