<html>

<head>
<title> Coa Pro | Internet Security</title>
<link rel="stylesheet" href="css/pocetna.css">
</head>

<body>

  <div class="header">

    <ul class="nav">
      <li><a href="#">Pocetna</a></li>
      <li><a href="#">Softver</a></li>
      <li><a href="#">Kontakt </a></li>
      <li><a href="#">Preuzmi </a></li>

      <input type="text" name="search" id="search" placeholder="Pretraga..."/>
      <img id="s_img" src="img/s1.png"> </img>
    </ul>

  </div>

<div class="w">

<div class="main">
  <img src="img/antivirus1.jpg"> </img>
</div>

<div class="aside">
<h2> Coa Pro | Internet Security </h2>
  <p>
    <br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    <br>
    <br>
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    <br>
  </p>

    <h3> Preuzmi </h3>

  <p>
    <br>
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    <br>
    <br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    <br>

  </p>

</div>
</div>

<div class="zelena">
  <img src="img/dm1.jpg"> </img>
  <h2> Coa Pro | Internet Security <h2>

</div>

<div class="plava">
  <h3>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </h3>
  <h3 id="button2"><a href="#">Preuzmi</a></h3>
</div>

<div class="bela">
  <img src="img/komp1.jpg"></img>

  <div class="desno">
    <h3>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </h3>
    <p id="button3"><a href="#">Link</a></p>
  </div>

</div>

<footer id="footer">
  <p>Copyright &copy PRO Tim SRB 2020  </p>
  <h3>Kontaktirajte nas </h3>
  <p>Coa Pro 2.3.0 </p>
</footer>

</body>
</html>
