.a0, .a1, .a2
{
    color: white;
    width: 23em;
    margin: 0 auto; 
    text-align: center; 
    padding: 1em;
}

.a0 {background-color: yellowgreen; }
.a1 {background-color: rgb(99, 138, 21); }
.a2 {background-color: rgb(206, 179, 27); }
.nazadA
{
    margin: 0 auto; 
    width: 12em;
    padding: 0.4em;
    background-color: rgb(71, 120, 255);
    text-align: center; 
}
.nazadA a
{
    color: white;
    text-decoration: none;
}